openapi: 3.1.0
info:
  title: Envisics Pages API
  version: wp/v2
  description: Public, unauthenticated read access to the static pages of envisics.com — Products, Technology, Company,
    Newsroom, Multi Media, Careers, Contact, Terms of Use, Supplier Terms & Conditions and Privacy Policy (11 published
    pages at capture). The site homepage carries the Notice to Creditors for Envisics Ltd. (In Administration) and
    is readable through this API.
  contact:
    name: Envisics
    url: https://envisics.com/contact/
  x-derived-from: https://envisics.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-08-12'
  x-api-evangelist-note: Third-party profile. Envisics publishes no developer program; this documents the anonymously
    readable WordPress REST content API behind envisics.com. Every path, parameter and schema here was read from
    the server's own OPTIONS documents on 2026-08-12 — nothing is invented. Envisics Ltd. entered administration
    on 2026-04-22; this surface is a live corporate-website CMS API and may disappear with the site.
servers:
- url: https://envisics.com/wp-json
  description: Envisics WordPress REST API
tags:
- name: Pages
  description: Static marketing, policy and notice pages of envisics.com.
paths:
  /wp/v2/pages:
    get:
      operationId: listPages
      summary: List pages
      description: Retrieve a paginated collection of published Envisics pages.
      tags:
      - Pages
      parameters:
      - name: after
        in: query
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: author_exclude
        in: query
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: before
        in: query
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: menu_order
        in: query
        description: Limit result set to posts with a specific menu_order value.
        schema:
          type: integer
      - name: modified_after
        in: query
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: parent
        in: query
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: parent_exclude
        in: query
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: search_columns
        in: query
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: search_semantics
        in: query
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: slug
        in: query
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - spam
            - jp-temp-feedback
            - dp-rewrite-republish
            - any
          default: publish
      responses:
        '200':
          description: A paginated collection of pages.
          headers:
            X-WP-Total:
              description: Total number of items in the unpaginated collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items: &id001
                  $ref: '#/components/schemas/Page'
        '400':
          description: Bad request — an invalid parameter was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/pages/{id}:
    get:
      operationId: getPage
      summary: Get a page
      description: Retrieve a single published Envisics page by its numeric identifier.
      tags:
      - Pages
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: excerpt_length
        in: query
        description: Override the default excerpt length.
        schema:
          type: integer
      - name: id
        in: path
        description: Unique identifier for the post.
        schema:
          type: integer
        required: true
      - name: password
        in: query
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: The requested page.
          content:
            application/json:
              schema: *id001
        '404':
          description: Not found — no resource matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error data.
          properties:
            status:
              type: integer
              description: HTTP status code.
    Page:
      title: page
      type: object
      properties:
        date:
          description: The date the post was published, in the site's time zone.
          type: string
          format: date-time
        date_gmt:
          description: The date the post was published, as GMT.
          type: string
          format: date-time
        guid:
          description: The globally unique identifier for the post.
          type: object
          properties:
            raw:
              description: GUID for the post, as it exists in the database.
              type: string
            rendered:
              description: GUID for the object, transformed for display.
              type: string
        id:
          description: Unique identifier for the post.
          type: integer
        link:
          description: URL to the post.
          type: string
          format: uri
        modified:
          description: The date the post was last modified, in the site's time zone.
          type: string
          format: date-time
        modified_gmt:
          description: The date the post was last modified, as GMT.
          type: string
          format: date-time
        slug:
          description: An alphanumeric identifier for the post unique to its type.
          type: string
        status:
          description: A named status for the post.
          type: string
          enum:
          - publish
          - future
          - draft
          - pending
          - private
          - spam
        type:
          description: Type of post.
          type: string
        password:
          description: A password to protect access to the content and excerpt.
          type: string
        permalink_template:
          description: Permalink template for the post.
          type: string
        generated_slug:
          description: Slug automatically generated from the post title.
          type: string
        class_list:
          description: An array of the class names for the post container element.
          type: array
          items:
            type: string
        parent:
          description: The ID for the parent of the post.
          type: integer
        title:
          description: The title for the post.
          type: object
          properties:
            raw:
              description: Title for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML title for the post, transformed for display.
              type: string
        content:
          description: The content for the post.
          type: object
          properties:
            raw:
              description: Content for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML content for the post, transformed for display.
              type: string
            block_version:
              description: Version of the content block format used by the post.
              type: integer
            protected:
              description: Whether the content is protected with a password.
              type: boolean
        author:
          description: The ID for the author of the post.
          type: integer
        excerpt:
          description: The Excerpt for the post.
          type: object
          properties:
            raw:
              description: Excerpt for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML excerpt for the post, transformed for display.
              type: string
            protected:
              description: Whether the excerpt is protected with a password.
              type: boolean
        featured_media:
          description: The ID of the featured media for the post.
          type: integer
        comment_status:
          description: Whether or not comments are open on the post.
          type: string
          enum:
          - open
          - closed
        ping_status:
          description: Whether or not the post can be pinged.
          type: string
          enum:
          - open
          - closed
        menu_order:
          description: The order of the post in relation to other posts.
          type: integer
        meta:
          description: Meta fields.
          type: object
          properties:
            footnotes:
              type: string
              title: ''
              description: ''
              default: ''
            _elementor_edit_mode:
              type: string
              title: Elementor edit mode
              description: Elementor edit mode, `builder` is required for Elementor editing
              default: ''
              enum:
              - ''
              - builder
            _elementor_template_type:
              type: string
              title: Elementor template type
              description: Elementor document type
              default: ''
              enum:
              - post
              - wp-post
              - wp-page
              - kit
              - not-supported
              - page
              - section
              - container
              - floating-buttons
              - cloud-template-preview
              - elementor_component
              - widget
              - popup
              - header
              - footer
              - single
              - single-post
              - single-page
              - archive
              - search-results
              - error-404
              - code_snippet
              - loop-item
              - ''
            _elementor_data:
              type: string
              title: Elementor data
              description: Elementor JSON as a string
              default: ''
            _elementor_page_settings:
              type: object
              title: Elementor page settings
              description: Elementor page level settings
              default: '{}'
              properties:
                hide_title:
                  type: string
                  enum:
                  - 'yes'
                  - 'no'
                  default: ''
            _elementor_conditions:
              type: array
              title: ''
              description: Elementor conditions
              default: []
        template:
          description: The theme file to use to display the post.
          type: string
        jetpack_sharing_enabled:
          description: Are sharing buttons enabled?
          type: boolean
