openapi: 3.2.0
info:
  title: Envisics Discovery API
  version: wp/v2
  description: Public, unauthenticated discovery metadata for envisics.com — the registered content types and taxonomies, the publication statuses, and the public author records. This is the surface that makes the rest of the API self-describing in the absence of any published documentation. The site root (https://envisics.com/wp-json/) advertises 602 routes across 25 namespaces at capture.
  contact:
    name: Envisics
    url: https://envisics.com/contact/
  x-derived-from: https://envisics.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-08-12'
  x-api-evangelist-note: Third-party profile. Envisics publishes no developer program; this documents the anonymously readable WordPress REST content API behind envisics.com. Every path, parameter and schema here was read from the server's own OPTIONS documents on 2026-08-12 — nothing is invented. Envisics Ltd. entered administration on 2026-04-22; this surface is a live corporate-website CMS API and may disappear with the site.
servers:
- url: https://envisics.com/wp-json
  description: Envisics WordPress REST API
tags:
- name: Discovery
  description: Self-describing metadata about the content model.
paths:
  /wp/v2/types:
    get:
      operationId: listTypes
      summary: List content types
      description: Retrieve every registered content type and its REST base.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: A paginated collection of content types.
          headers:
            X-WP-Total:
              description: Total number of items in the unpaginated collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PostType'
        '400':
          description: Bad request — an invalid parameter was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/types/{type}:
    get:
      operationId: getType
      summary: Get a content type
      description: Retrieve a single registered content type.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: type
        in: path
        description: An alphanumeric identifier for the post type.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: The requested content type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostType'
        '404':
          description: Not found — no resource matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/taxonomies:
    get:
      operationId: listTaxonomies
      summary: List taxonomies
      description: Retrieve every registered taxonomy and the content types it applies to.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: type
        in: query
        description: Limit results to taxonomies associated with a specific post type.
        schema:
          type: string
      responses:
        '200':
          description: A paginated collection of taxonomies.
          headers:
            X-WP-Total:
              description: Total number of items in the unpaginated collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Taxonomy'
        '400':
          description: Bad request — an invalid parameter was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/taxonomies/{taxonomy}:
    get:
      operationId: getTaxonomy
      summary: Get a taxonomy
      description: Retrieve a single registered taxonomy.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: taxonomy
        in: path
        description: An alphanumeric identifier for the taxonomy.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: The requested taxonomy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Taxonomy'
        '404':
          description: Not found — no resource matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/statuses:
    get:
      operationId: listStatuses
      summary: List publication statuses
      description: Retrieve the publication statuses visible to an anonymous caller.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: A paginated collection of statuses.
          headers:
            X-WP-Total:
              description: Total number of items in the unpaginated collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status'
        '400':
          description: Bad request — an invalid parameter was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/statuses/{status}:
    get:
      operationId: getStatus
      summary: Get a publication status
      description: Retrieve a single publication status.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: status
        in: path
        description: An alphanumeric identifier for the status.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: The requested status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
        '404':
          description: Not found — no resource matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Taxonomy:
      title: taxonomy
      type: object
      properties:
        capabilities:
          description: All capabilities used by the taxonomy.
          type: object
        description:
          description: A human-readable description of the taxonomy.
          type: string
        hierarchical:
          description: Whether or not the taxonomy should have children.
          type: boolean
        labels:
          description: Human-readable labels for the taxonomy for various contexts.
          type: object
        name:
          description: The title for the taxonomy.
          type: string
        slug:
          description: An alphanumeric identifier for the taxonomy.
          type: string
        show_cloud:
          description: Whether or not the term cloud should be displayed.
          type: boolean
        types:
          description: Types associated with the taxonomy.
          type: array
          items:
            type: string
        rest_base:
          description: REST base route for the taxonomy.
          type: string
        rest_namespace:
          description: REST namespace route for the taxonomy.
          type: string
        visibility:
          description: The visibility settings for the taxonomy.
          type: object
          properties:
            public:
              description: Whether a taxonomy is intended for use publicly either via the admin interface or by front-end users.
              type: boolean
            publicly_queryable:
              description: Whether the taxonomy is publicly queryable.
              type: boolean
            show_ui:
              description: Whether to generate a default UI for managing this taxonomy.
              type: boolean
            show_admin_column:
              description: Whether to allow automatic creation of taxonomy columns on associated post-types table.
              type: boolean
            show_in_nav_menus:
              description: Whether to make the taxonomy available for selection in navigation menus.
              type: boolean
            show_in_quick_edit:
              description: Whether to show the taxonomy in the quick/bulk edit panel.
              type: boolean
    Status:
      title: status
      type: object
      properties:
        name:
          description: The title for the status.
          type: string
        private:
          description: Whether posts with this status should be private.
          type: boolean
        protected:
          description: Whether posts with this status should be protected.
          type: boolean
        public:
          description: Whether posts of this status should be shown in the front end of the site.
          type: boolean
        queryable:
          description: Whether posts with this status should be publicly-queryable.
          type: boolean
        show_in_list:
          description: Whether to include posts in the edit listing for their post type.
          type: boolean
        slug:
          description: An alphanumeric identifier for the status.
          type: string
        date_floating:
          description: Whether posts of this status may have floating published dates.
          type: boolean
    Error:
      type: object
      description: WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error data.
          properties:
            status:
              type: integer
              description: HTTP status code.
    PostType:
      title: type
      type: object
      properties:
        capabilities:
          description: All capabilities used by the post type.
          type: object
        description:
          description: A human-readable description of the post type.
          type: string
        hierarchical:
          description: Whether or not the post type should have children.
          type: boolean
        viewable:
          description: Whether or not the post type can be viewed.
          type: boolean
        labels:
          description: Human-readable labels for the post type for various contexts.
          type: object
        name:
          description: The title for the post type.
          type: string
        slug:
          description: An alphanumeric identifier for the post type.
          type: string
        supports:
          description: All features, supported by the post type.
          type: object
        has_archive:
          description: If the value is a string, the value will be used as the archive slug. If the value is false the post type has no archive.
          type: string
        taxonomies:
          description: Taxonomies associated with post type.
          type: array
          items:
            type: string
        rest_base:
          description: REST base route for the post type.
          type: string
        rest_namespace:
          description: REST route's namespace for the post type.
          type: string
        visibility:
          description: The visibility settings for the post type.
          type: object
          properties:
            show_ui:
              description: Whether to generate a default UI for managing this post type.
              type: boolean
            show_in_nav_menus:
              description: Whether to make the post type available for selection in navigation menus.
              type: boolean
        icon:
          description: The icon for the post type.
          type: string
        template:
          type: array
          description: The block template associated with the post type.
        template_lock:
          type: string
          enum:
          - all
          - insert
          - contentOnly
          - false
          description: The template_lock associated with the post type, or false if none.
