openapi: 3.1.0
info:
  title: Envisics Search API
  version: wp/v2
  description: Public, unauthenticated cross-content search over envisics.com — posts and pages — returning lightweight
    id / title / url / type / subtype records (62 searchable objects at capture).
  contact:
    name: Envisics
    url: https://envisics.com/contact/
  x-derived-from: https://envisics.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-08-12'
  x-api-evangelist-note: Third-party profile. Envisics publishes no developer program; this documents the anonymously
    readable WordPress REST content API behind envisics.com. Every path, parameter and schema here was read from
    the server's own OPTIONS documents on 2026-08-12 — nothing is invented. Envisics Ltd. entered administration
    on 2026-04-22; this surface is a live corporate-website CMS API and may disappear with the site.
servers:
- url: https://envisics.com/wp-json
  description: Envisics WordPress REST API
tags:
- name: Search
  description: Cross-content search over envisics.com.
paths:
  /wp/v2/search:
    get:
      operationId: search
      summary: Search site content
      description: Search across every publicly queryable content type on envisics.com.
      tags:
      - Search
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: subtype
        in: query
        description: Limit results to items of one or more object subtypes.
        schema:
          type: array
          items:
            type: string
            enum:
            - post
            - page
            - e-floating-buttons
            - elementor_library
            - category
            - post_tag
            - any
          default: any
      - name: type
        in: query
        description: Limit results to items of an object type.
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      responses:
        '200':
          description: A paginated collection of search results.
          headers:
            X-WP-Total:
              description: Total number of items in the unpaginated collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel=next / rel=prev).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
        '400':
          description: Bad request — an invalid parameter was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error data.
          properties:
            status:
              type: integer
              description: HTTP status code.
    SearchResult:
      title: search-result
      type: object
      properties:
        id:
          description: Unique identifier for the object.
          type: integer
        title:
          description: The title for the object.
          type: string
        url:
          description: URL to the object.
          type: string
          format: uri
        type:
          description: Object type.
          type: string
          enum:
          - post
          - term
          - post-format
        subtype:
          description: Object subtype.
          type: string
          enum:
          - post
          - page
          - e-floating-buttons
          - elementor_library
          - category
          - post_tag
