openapi: 3.1.0
info:
  title: Envisics Discovery API
  version: wp/v2
  description: Public, unauthenticated discovery metadata for envisics.com — the registered content types and taxonomies,
    the publication statuses, and the public author records. This is the surface that makes the rest of the API
    self-describing in the absence of any published documentation. The site root (https://envisics.com/wp-json/)
    advertises 602 routes across 25 namespaces at capture.
  contact:
    name: Envisics
    url: https://envisics.com/contact/
  x-derived-from: https://envisics.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-08-12'
  x-api-evangelist-note: Third-party profile. Envisics publishes no developer program; this documents the anonymously
    readable WordPress REST content API behind envisics.com. Every path, parameter and schema here was read from
    the server's own OPTIONS documents on 2026-08-12 — nothing is invented. Envisics Ltd. entered administration
    on 2026-04-22; this surface is a live corporate-website CMS API and may disappear with the site.
servers:
- url: https://envisics.com/wp-json
  description: Envisics WordPress REST API
tags:
- name: Discovery
  description: Self-describing metadata about the content model.
- name: Users
  description: Public author records.
paths:
  /wp/v2/types:
    get:
      operationId: listTypes
      summary: List content types
      description: Retrieve every registered content type and its REST base.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: A paginated collection of content types.
          headers:
            X-WP-Total: &id002
              description: Total number of items in the unpaginated collection.
              schema:
                type: integer
            X-WP-TotalPages: &id003
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link: &id004
              description: RFC 8288 pagination links (rel=next / rel=prev).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items: &id001
                  $ref: '#/components/schemas/PostType'
        '400':
          description: Bad request — an invalid parameter was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/types/{type}:
    get:
      operationId: getType
      summary: Get a content type
      description: Retrieve a single registered content type.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: type
        in: path
        description: An alphanumeric identifier for the post type.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: The requested content type.
          content:
            application/json:
              schema: *id001
        '404':
          description: Not found — no resource matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/taxonomies:
    get:
      operationId: listTaxonomies
      summary: List taxonomies
      description: Retrieve every registered taxonomy and the content types it applies to.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: type
        in: query
        description: Limit results to taxonomies associated with a specific post type.
        schema:
          type: string
      responses:
        '200':
          description: A paginated collection of taxonomies.
          headers:
            X-WP-Total: *id002
            X-WP-TotalPages: *id003
            Link: *id004
          content:
            application/json:
              schema:
                type: array
                items: &id005
                  $ref: '#/components/schemas/Taxonomy'
        '400':
          description: Bad request — an invalid parameter was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/taxonomies/{taxonomy}:
    get:
      operationId: getTaxonomy
      summary: Get a taxonomy
      description: Retrieve a single registered taxonomy.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: taxonomy
        in: path
        description: An alphanumeric identifier for the taxonomy.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: The requested taxonomy.
          content:
            application/json:
              schema: *id005
        '404':
          description: Not found — no resource matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/statuses:
    get:
      operationId: listStatuses
      summary: List publication statuses
      description: Retrieve the publication statuses visible to an anonymous caller.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      responses:
        '200':
          description: A paginated collection of statuses.
          headers:
            X-WP-Total: *id002
            X-WP-TotalPages: *id003
            Link: *id004
          content:
            application/json:
              schema:
                type: array
                items: &id006
                  $ref: '#/components/schemas/Status'
        '400':
          description: Bad request — an invalid parameter was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/statuses/{status}:
    get:
      operationId: getStatus
      summary: Get a publication status
      description: Retrieve a single publication status.
      tags:
      - Discovery
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: status
        in: path
        description: An alphanumeric identifier for the status.
        schema:
          type: string
        required: true
      responses:
        '200':
          description: The requested status.
          content:
            application/json:
              schema: *id006
        '404':
          description: Not found — no resource matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/users:
    get:
      operationId: listUsers
      summary: List public authors
      description: Retrieve the public author records that have published content.
      tags:
      - Users
      parameters:
      - name: capabilities
        in: query
        description: Limit result set to users matching at least one specific capability provided. Accepts csv list
          or single capability.
        schema:
          type: array
          items:
            type: string
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: has_published_posts
        in: query
        description: Limit result set to users who have published posts.
        schema:
          type: boolean
          items:
            type: string
            enum:
              post: post
              page: page
              attachment: attachment
              nav_menu_item: nav_menu_item
              wp_block: wp_block
              wp_template: wp_template
              wp_template_part: wp_template_part
              wp_global_styles: wp_global_styles
              wp_navigation: wp_navigation
              wp_font_family: wp_font_family
              wp_font_face: wp_font_face
              e-floating-buttons: e-floating-buttons
              elementor_library: elementor_library
              elementor_snippet: elementor_snippet
              feedback: feedback
              jp_pay_order: jp_pay_order
              jp_pay_product: jp_pay_product
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - name: orderby
        in: query
        description: Sort collection by user attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - registered_date
          - slug
          - include_slugs
          - email
          - url
          default: name
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: roles
        in: query
        description: Limit result set to users matching at least one specific role provided. Accepts csv list or
          single role.
        schema:
          type: array
          items:
            type: string
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: search_columns
        in: query
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - email
            - name
            - id
            - username
            - slug
          default: []
      - name: slug
        in: query
        description: Limit result set to users with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: who
        in: query
        description: Limit result set to users who are considered authors.
        schema:
          type: string
          enum:
          - authors
      responses:
        '200':
          description: A paginated collection of authors.
          headers:
            X-WP-Total: *id002
            X-WP-TotalPages: *id003
            Link: *id004
          content:
            application/json:
              schema:
                type: array
                items: &id007
                  $ref: '#/components/schemas/User'
        '400':
          description: Bad request — an invalid parameter was supplied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/users/{id}:
    get:
      operationId: getUser
      summary: Get a public author
      description: Retrieve a single public author record.
      tags:
      - Users
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: id
        in: path
        description: Unique identifier for the user.
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: The requested author.
          content:
            application/json:
              schema: *id007
        '404':
          description: Not found — no resource matches the supplied identifier.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error data.
          properties:
            status:
              type: integer
              description: HTTP status code.
    PostType:
      title: type
      type: object
      properties:
        capabilities:
          description: All capabilities used by the post type.
          type: object
        description:
          description: A human-readable description of the post type.
          type: string
        hierarchical:
          description: Whether or not the post type should have children.
          type: boolean
        viewable:
          description: Whether or not the post type can be viewed.
          type: boolean
        labels:
          description: Human-readable labels for the post type for various contexts.
          type: object
        name:
          description: The title for the post type.
          type: string
        slug:
          description: An alphanumeric identifier for the post type.
          type: string
        supports:
          description: All features, supported by the post type.
          type: object
        has_archive:
          description: If the value is a string, the value will be used as the archive slug. If the value is false
            the post type has no archive.
          type: string
        taxonomies:
          description: Taxonomies associated with post type.
          type: array
          items:
            type: string
        rest_base:
          description: REST base route for the post type.
          type: string
        rest_namespace:
          description: REST route's namespace for the post type.
          type: string
        visibility:
          description: The visibility settings for the post type.
          type: object
          properties:
            show_ui:
              description: Whether to generate a default UI for managing this post type.
              type: boolean
            show_in_nav_menus:
              description: Whether to make the post type available for selection in navigation menus.
              type: boolean
        icon:
          description: The icon for the post type.
          type: string
        template:
          type: array
          description: The block template associated with the post type.
        template_lock:
          type: string
          enum:
          - all
          - insert
          - contentOnly
          - false
          description: The template_lock associated with the post type, or false if none.
    Taxonomy:
      title: taxonomy
      type: object
      properties:
        capabilities:
          description: All capabilities used by the taxonomy.
          type: object
        description:
          description: A human-readable description of the taxonomy.
          type: string
        hierarchical:
          description: Whether or not the taxonomy should have children.
          type: boolean
        labels:
          description: Human-readable labels for the taxonomy for various contexts.
          type: object
        name:
          description: The title for the taxonomy.
          type: string
        slug:
          description: An alphanumeric identifier for the taxonomy.
          type: string
        show_cloud:
          description: Whether or not the term cloud should be displayed.
          type: boolean
        types:
          description: Types associated with the taxonomy.
          type: array
          items:
            type: string
        rest_base:
          description: REST base route for the taxonomy.
          type: string
        rest_namespace:
          description: REST namespace route for the taxonomy.
          type: string
        visibility:
          description: The visibility settings for the taxonomy.
          type: object
          properties:
            public:
              description: Whether a taxonomy is intended for use publicly either via the admin interface or by
                front-end users.
              type: boolean
            publicly_queryable:
              description: Whether the taxonomy is publicly queryable.
              type: boolean
            show_ui:
              description: Whether to generate a default UI for managing this taxonomy.
              type: boolean
            show_admin_column:
              description: Whether to allow automatic creation of taxonomy columns on associated post-types table.
              type: boolean
            show_in_nav_menus:
              description: Whether to make the taxonomy available for selection in navigation menus.
              type: boolean
            show_in_quick_edit:
              description: Whether to show the taxonomy in the quick/bulk edit panel.
              type: boolean
    Status:
      title: status
      type: object
      properties:
        name:
          description: The title for the status.
          type: string
        private:
          description: Whether posts with this status should be private.
          type: boolean
        protected:
          description: Whether posts with this status should be protected.
          type: boolean
        public:
          description: Whether posts of this status should be shown in the front end of the site.
          type: boolean
        queryable:
          description: Whether posts with this status should be publicly-queryable.
          type: boolean
        show_in_list:
          description: Whether to include posts in the edit listing for their post type.
          type: boolean
        slug:
          description: An alphanumeric identifier for the status.
          type: string
        date_floating:
          description: Whether posts of this status may have floating published dates.
          type: boolean
    User:
      title: user
      type: object
      properties:
        id:
          description: Unique identifier for the user.
          type: integer
        username:
          description: Login name for the user.
          type: string
        name:
          description: Display name for the user.
          type: string
        first_name:
          description: First name for the user.
          type: string
        last_name:
          description: Last name for the user.
          type: string
        email:
          description: The email address for the user.
          type: string
          format: email
        url:
          description: URL of the user.
          type: string
          format: uri
        description:
          description: Description of the user.
          type: string
        link:
          description: Author URL of the user.
          type: string
          format: uri
        locale:
          description: Locale for the user.
          type: string
          enum:
          - ''
          - en_US
          - en_ZA
        nickname:
          description: The nickname for the user.
          type: string
        slug:
          description: An alphanumeric identifier for the user.
          type: string
        registered_date:
          description: Registration date for the user.
          type: string
          format: date-time
        roles:
          description: Roles assigned to the user.
          type: array
          items:
            type: string
        password:
          description: Password for the user (never included).
          type: string
        capabilities:
          description: All capabilities assigned to the user.
          type: object
        extra_capabilities:
          description: Any extra capabilities assigned to the user.
          type: object
        meta:
          description: Meta fields.
          type: object
          properties:
            persisted_preferences:
              type: object
              title: ''
              description: ''
              default: []
              properties:
                _modified:
                  description: The date and time the preferences were updated.
                  type: string
                  format: date-time
            jetpack_donation_warning_dismissed:
              type: boolean
              title: ''
              description: ''
              default: false
        elementor_introduction:
          description: Elementor user meta data
          type: object
          properties:
            ai_get_started:
              type: boolean
