openapi: 3.1.0
info:
  title: Envisics oEmbed API
  version: oembed/1.0
  description: >-
    Public oEmbed 1.0 provider endpoint for envisics.com URLs, returning embeddable rich metadata —
    title, author, thumbnail dimensions and iframe HTML — for any post or page on the site. Requires
    no authentication.
  contact:
    name: Envisics
    url: https://envisics.com/contact/
  x-derived-from: https://envisics.com/wp-json/ route index (oembed/1.0 namespace) + a live response capture
  x-derived-on: '2026-08-12'
  x-api-evangelist-note: >-
    Third-party profile. Every parameter here was read from the server's own published route index on
    2026-08-12 and the response schema from a live capture of
    /wp-json/oembed/1.0/embed?url=https%3A%2F%2Fenvisics.com%2Fproducts%2F — nothing is invented.
servers:
- url: https://envisics.com/wp-json
  description: Envisics WordPress REST API
tags:
- name: oEmbed
  description: oEmbed 1.0 provider endpoint for envisics.com content.
paths:
  /oembed/1.0/embed:
    get:
      operationId: getOEmbed
      summary: Get oEmbed data for an envisics.com URL
      description: >-
        Return oEmbed 1.0 rich metadata for a post or page on envisics.com, including the embeddable
        iframe HTML.
      tags:
      - oEmbed
      parameters:
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
      - name: format
        in: query
        required: false
        description: Response serialization format.
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        required: false
        description: Maximum width of the embed in pixels.
        schema:
          type: integer
          default: 600
      responses:
        '200':
          description: oEmbed 1.0 rich response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OEmbedResponse'
        '404':
          description: Not found — the supplied URL is not an embeddable envisics.com resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    OEmbedResponse:
      type: object
      description: oEmbed 1.0 rich-type response.
      properties:
        version:
          type: string
          description: oEmbed specification version.
        provider_name:
          type: string
          description: Name of the oEmbed provider.
        provider_url:
          type: string
          format: uri
          description: Canonical URL of the oEmbed provider.
        author_name:
          type: string
          description: Display name of the content author.
        author_url:
          type: string
          format: uri
          description: URL of the author archive.
        title:
          type: string
          description: Title of the embedded resource.
        type:
          type: string
          description: oEmbed response type; rich for WordPress content.
        width:
          type: integer
          description: Width of the embed in pixels.
        height:
          type: integer
          description: Height of the embed in pixels.
        html:
          type: string
          description: HTML fragment that renders the embed.
        description:
          type: string
          description: Excerpt of the embedded resource.
    Error:
      type: object
      description: WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          description: Error data.
          properties:
            status:
              type: integer
              description: HTTP status code.
